description = "Default layout"
==

<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="http://bit.ly/ghfavicon" width=32px>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{'assets/css/style.css'|theme }}">
<link rel="prefetch" href="{{'assets/images/pause1.svg'|theme }}">
<link rel="prefetch" href="{{'assets/images/play1.svg'|theme }}">
<link rel="prefetch" href="{{'assets/images/stop1.svg'|theme }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="{{'assets/js/script.js'|theme }}" defer></script>
<title>Speech Prayer Station Prototype</title>
</head>

<body>
<div>
  <button id=play></button>
  &nbsp;
  <button id=pause></button>
  &nbsp;
  <button id=stop></button>
</div>
<article align="left">
  <div align="center">
    <h1>Crusader Prayer Station</h1>
    <img src="{{'assets/images/5-best-prayers.jpg'|theme }}"> </div>
  <h3>To uphold the Holy Word of God</h3>
  <p>O dear Lord, my beloved Jesus Christ, hold me, protect me.</p>
  <p>Keep me in the light of your face, as my persecution intensifies, when my only sin is to uphold the truth, the Holy Word of God. Help me to find the courage to serve you faithfully at all times. Give me your courage and your strength, as I fight to defend your teachings against fierce opposition. Never desert me Jesus in my time of need, and provide me with everything I need to continue to serve you through the provision of the Holy Sacraments and your precious body and blood, through the Holy sacrifice of the mass.</p>
  <p>Bless me Jesus. Walk with me, rest in me, stay with me. Amen.</p>
</article>
</body>
</html>
